<%= form_for trip do |f| %>
    <% if trip.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

        <ul class='trip-error-messages'>
        <% trip.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>

      </div>
    <% end %>

    <div class="trip-name-input">
      <p class="trip-name">Trip Name</p>
      <%= f.text_field :name %>
    </div>

    <div class="park-selection">
      <p class="pickapark">Pick a Park</p>
      <%= f.collection_select(:park_id, Park.all, :id, :name)  %>
    </div>

    <div class="trip-start-date">
      <p class="choosestartdate">Start Date</p>
      <%= f.date_field :start_date %>
    </div>

    <div class="trip-end-date">
      <p class="chooseenddate">End Date</p>
      <%= f.date_field :end_date %>
    </div>

    <div class="trip-booked">
      <p class="haveyoubooked">Have You Booked?</p>
        <p class="reservationlink">If not visit <a href="https://reservations.ontarioparks.com/"> The Ontario Parks Website</a> and then, come back!</p>
      <%= f.check_box :booked %>
    </div>

    <div class="button_submit">
      <%= f.submit %>
    </div>
  <% end %>
