<h1>Trip Planner</h1>

<h2>Trip Name: <%= @trip.name %><h2>
<%= @trip.park.name %>
<%= @trip.booked %>
<%= @trip.start_date %>
<%= @trip.end_date %>
<%= link_to 'Delete', trip_path(@trip.id), method: :delete, data: {confirm: "Are you sure you want to delete this trip?"}%>
<%= render 'new_message_form', message: @message, trip: @trip %>

<h3>Trip Message<h3>
<%= render 'message_display', messages: @trip.messages, trip: @trip %>

<h3>Trip To-Do<h3>
<%= render 'todos/todo_partial', todo: @todo, trip: @trip %>
