

<div class="container">

<p class="instructions">Filter Parks by Activity or Facility</p>
  <section class="box-filter">

          <h1 class="activity-title">Activities</h1> <br>

          <form class="activities-filter-form" action="">
            <% Park.activity_list.each do |activity| %>
              <div class="activity_checkbox">
                <label> <input name= 'data[<%= activity.split(' ').join('_') %>]' class='activity' type="checkbox" rel='<%= activity %>' value="true" /><%= activity %></label>
              </div>
            <% end %>

        <h1 class="facility-title">Facilities</h1>
<br>
        <% Park.facilities_view.each do |facilities| %>
            <div class="facilities_checkbox">
              <label> <input name= 'data[<%= facilities.split(' ').join('_') %>]' class='facilities' type="checkbox" rel='<%= facilities %>' value="true" /><%= facilities %>
              </label>
            </div>
            <% end %>
      </form>

  </section>
</div>
<br>
<br>

 <div id="parkPartialList">
     <%= render partial: 'parkList' %>
 </div>
