<div class="body-container">
  <div id="header-img">
     <%= image_tag "header.png" %>
  </div>

</div>
<div class="discription-container">
<h1 class="what-is-campon">What is Camp ON?</h1>
<br>
<br>

<h4 class="discription-question">Ever tried to plan a trip and it descended into chaos? Yeah, us too.</h4>
<br>
<br>

<p class="discription">CampON is a project about bringing those who love to camp together while keeping things organized. Designed with Ontario Parks camping in mind, this web application allows you coordinate and make sure your next trip is the best one yet! Find the perfect Ontario park, invite your friends to your trip, see who's bringing what, and get camping!
<br>
<br>

<div class="ladingpagefooter">

  <div id="mug-img">
    <%= image_tag ('mug-img.png') %>
    <!-- <a class="parks-anchor" href="/index"></a> -->
    <p class="parks-anchor">  <%= link_to "Parks", parks_path, :style=>'color: white; text-decoration: none;' %> </p>

  </div>

  <div id="map-img">
    <%= image_tag ('map-img.png') %>
    <p class="map-anchor">  <%= link_to "Plan a Trip", new_trip_path, :style=>'color: white; text-decoration: none;' %> </p>
  </div>

  <div id="stove-img">
    <%= image_tag ("stove.png") %>
    <p class="stove-anchor">  <%= link_to "Your Trips", user_path, :style=>'color: white; text-decoration: none;' %> </p>
  </div>

</div>
