<section class="sign-up-background">

<div class="signup-block">

<h1 class="signup-title">Sign Up</h1>

<% if @user.errors.any? %>
  <ul>
    <% @user.errors.full_messages.each do |m| %>
      <li><%= m %></li>
    <% end %>
  </ul>
<% end %>

<%=form_for @user, url: {action: "create"} do |f| %>
<div class="signup-fields">

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class='field'>
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>

    <div class='field'>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>

    <div class='field'>

      <%= f.label :confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>
</div>

  <input id="signup-submit" type="submit" name="commit" value="Sign Up" data-disable-with="Sign Up">
  <p class="login-redirect">Already a user? <a href="/sessions/new">Log in here!</a></p>
</div>
<% end %>


</section>
