<h1>Hello <%= @user.name %>!</h1>

<% @trips.each do |trip| %>
<ul class="trip_list">
  <li><a href="/trips/<%=trip.id%>"><%= trip.name %></a></li>
  <li><%= trip.booked %></li>
  <li><%= trip.park.name %></li>
  <li><%= trip.start_date %></li>
  <li><%= trip.end_date %></li>
</ul>
  <% end %>
