<div class="display-todos"</div>


  <% todos.each do |todo| %>
      <%= form_for [trip, todo] do |f| %>
        <p><%= f.text_field :text %></p>
        <p><%= f.collection_select(:user_id, trip.users, :id, :name) %></p>
        <p><%= f.select(:label, ['Do','Buy','Bring'],:selected =>todo.label) %></p>
        <p><%= link_to 'Delete', trip_todo_path(trip.id, todo.id), method: :delete, data: {confirm: "Are you sure you want to delete this todo?"} %></p>
        <%= f.submit %>
      <%end%>
  <% end %>

</div>
