<!DOCTYPE html>
<html>
  <head>
    <title>CampON</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header class="header">
    <h3 class="camp-on-tile">Camp ON</h3>
    <ul class="header-nav-bar">
      <li><a href="/parks">Parks</a></li>
      <li><a href="/user">My Trips</a></li>
      <li><a href="#">Login/Logout</a></li>
    </ul>
  </header>

  <body>
    <% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
  <% end -%>
    <%= yield %>
  </body>

  <footer class="application_footer">
    <ul class="footer-nav-bar">
      <li><a href="/static_pageshome/about">About</a></li>
      <li><a href="/static_pageshome/contact">Contat Us</a></li>
    </ul>
  </footer>
</html>
